@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --green-color: #6DB33F;
    --primary: #669DDF;
    --secondary : #232F3E;
    --tertiary : #EC912D;

  }
  
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    /* overflow: hidden; */
}
html, body {
    display: block;
    width: 100%;
    height: 100%;
}
body {
    font-family: "Montserrat";
    height: 100%;
}

ul {
list-style: none;
}

button,
button:focus {
border: none;
cursor: pointer;
outline: none;
background: none;
}

section {
    /* padding-top: 90px; */
}

.section {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-primary {
    background-color: var(--primary);
}
.b-secondary {
    background-color: var(--secondary);
}
.b-tertiary {
    background-color: var(--tertiary);
}
.b-tertiary:hover {
  background-color: var(--tertiary);
}
.txt-primary {
    color: var(--primary);
}
.txt-secondary {
    color: var(--secondary);
}
.txt-tertiary,
.txt-tertiary:hover {
    color: var(--tertiary);
}
/* #############################################*/
/*                     page1                    */
/* #############################################*/
.main > img {
    position: relative;
    background-color: var(--black-color);
    border-radius: 2rem;
    width: 100%;
}

.mouse {
    width: 2rem;
    height: 4rem;
    border: 0.25rem solid var(--grey-dark-color);
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%,-50%);

}

.mouse-scroll {
    width: 0.75rem;
    height: 0.75rem;
    border: 0.4rem solid var(--grey-dark-color);
    border-radius: 2rem;
    margin-inline: auto;
    position: relative;
    top: 0.75rem;
    animation: mouse 2s infinite;

}
@keyframes mouse {
    from {
        opacity: 1;
        top: 10px;
    }
    to {
        opacity: 0;
        top: 50px;
    }

}

/* #############################################*/
/*                     page2                    */
/* #############################################*/
.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: var(--primary);
  }
  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 0.8;
  }
  .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
  }
  
  .portfolio-modal .btn-close {
    color: #1abc9c;
    font-size: 2rem;
    padding: 1rem;
  }
  .portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
  
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
  }
  
  .copyright {
    background-color: #1a252f;
  }
/* #############################################*/
/*                     page3                    */
/* #############################################*/
progress {
    appearance: none;
}
progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);
}

.list-group li {
  margin-top: 0.5rem;
}
/* #############################################*/
/*                     modal                    */
/* #############################################*/
.frame-wrapper {
    width: 100%;
    height: 60vh;
    background-color: var(--secondary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
}
.frame-wrapper .frame {
  max-width: 90%;
  max-height: 90%;
  aspect-ratio: 16/9;
    border: 3px solid gray;
    position: relative;
}

.frame-wrapper .frame .slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: 0.5s;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

 .frame-wrapper .frame li {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 16/9;
    flex-shrink: 0;

    transition: 0.5s;
}  
.frame-wrapper .frame li img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 16/9;
}
.slide-button {
    display: flex;
    justify-content: center;
    align-items: center; 
  
    position: absolute;
    top: calc(50% - 1rem);
  
    width: 2rem;
    height: 2rem;
  
    border-radius: 100%;
    background-color: var(--grey-light-color);
    cursor: pointer;
    user-select: none;
  }
.slide-prev-button {
  left: 3.5rem;
}
.slide-next-button {
  right: 3.5rem;
}